; Allow transitive dependency type access
shamefully-hoist = true
; Hard error on unsatisfied peer dependency requirements
strict-peer-dependencies = true
; Prevent accidents when running actions with outdated node_modules
verify-deps-before-run = error
; Fix sync-dependencies-meta-injected crashing due to some dependencies not respecting the injected flag as an optimization
dedupe-injected-deps = false
